@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  transition: all 0.5s;
  text-decoration: none;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container_nav {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar {
  background: #00A86B;
  color: white;
  height: 100vh;
  padding: 20px 10px;
  display: block;
  position: fixed;
  width: 250px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav_logo {
  width: 120px;
  margin: 20px auto;
  border-radius: 5px;
  /* background-color: white; */
  cursor: pointer;
  /* display: block; */
  margin-top: -30px;
}

.nav_item_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.nav_item {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.nav_item:hover,
.nav_item.active {
  background-color: white;
  color: #00A86B;
  border-radius: 0 30px 30px 0;
}

.nav_item svg {
  margin-right: 10px;
  font-size: 20px;
}

.adminsmalnav {
  margin-left: 200px;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}
